# COMMON
BOT_TOKEN="..."                    # Токен бота от @BotFather
CHAT_ID="..."                      # ID чата для уведомлений
TEST_MODE=true                     # Режим тестового работы (true/false) в тестовом режиме бот не отправляет отклики

# HH URLS
HH_MAIN_URL="https://hh.ru"        # Базовый URL HH.ru

## HH ELEMENTS
# MAIN PAGE
HH_PROFILE_ICON_DESKTOP='[data-qa="applicantProfileDesktopDrop-button"]'  # Селектор профиля десктоп
HH_PROFILE_ICON_MOBILE='[data-qa="applicantProfilePage-button"]'          # Селектор профиля мобильная
HH_SEARCHBAR='[class*="supernova-search"]' # Класс инпута поиска на главной 
HH_SUBMIT_BUTTON='[class*="submit-button"]' # Класс кнопки поиска 
# VACANCIES LIST
HH_LIST_PAGINATION_BLOCK='[data-qa="pager-block"]'          # Блок пагинации
HH_LIST_TOTAL_PAGES_NUMERIC='[data-qa="pager-block"] li:nth-last-child(2) a'   # Всего страниц (цифра, предпоследний элемент пагинации)
HH_LIST_TOTAL_PAGES_ARROW='[data-qa="pager-block"] li:last-child a'            # Всего страниц (стрелочка, последний элемент пагинации)
HH_LIST_VACANCIES_LIST='[class*="vacancies-list"]' # Список вакансий 
HH_LIST_VACANCY_ITEM='[data-qa="vacancy-serp__vacancy"]' # Элемент вакансии
HH_LIST_VACANCY_TITLE='[data-qa="serp-item__title-text"]' # Заголовок вакансии
HH_LIST_VACANCY_LINK='[data-qa="serp-item__title"]' # Ссылка вакансии
HH_LIST_VACANCY_SNIPPET_DESCRIPTION='[data-qa="vacancy-serp__vacancy_snippet_responsibility"] span span' # Краткое описание вакансии
HH_LIST_VACANCY_SNIPPET_REQUIREMENTS='[data-qa="vacancy-serp__vacancy_snippet_requirement"] span span' # Обязательное опыт вакансии
# VACANCY DETAILS
HH_DETAILED_COMPANY_NAME='[data-qa="vacancy-company__details"]' # Название компании
HH_DETAILED_VACANCY_TITLE='[data-qa="vacancy-title"]' # Заголовок 
HH_DETAILED_SALARY='[data-qa="vacancy-salary-compensation-type-net"]' # Зарплата  (может отсутствовать)
HH_DETAILED_EXPERIENCE='[data-qa="work-experience-text"]' # Опыт работы 
HH_DETAILED_WORK_FORMAT='[data-qa="work-formats-text"]' # Формат работы
HH_DETAILED_VACANCY_LOCATION='[data-qa="vacancy-address-with-map"]' # Локация вакансии
HH_DETAILED_VACANCY_DESCRIPTION='[data-qa="vacancy-description"]' # Описание вакансии
HH_DETAILED_APPLY_BUTTON='[data-qa="vacancy-response-link-top"]' # Кнопка отправить заявку
# APPLY FORM POPUP
HH_MODAL_APPLY_POPUP='[class*="magritte-modal___"]' # Модальное окно для отправки заявки если нет анкеты (появляется не сразу)
HH_MODAL_APPLY_RESUME_TITLE='[class*="magritte-modal___"] [class*="magritte-card___"]  [data-qa="resume-title"]' # Дропдаун резюме именно сам селект и название текущего резюме в нем
HH_MODAL_APPLY_RESUME_TITLE='[class*="magritte-modal___"] [data-qa="magritte-select-option-list"] [data-qa="resume-title"]' # Дропдаун резюме именно сам селект и название текущего резюме в нем
HH_MODAL_APPLY_ADD_COVER_LETTER_BUTTON='[class*="magritte-modal___"] [data-qa="add-cover-letter"]' # Кнопка добавления сопроводительного письма
HH_MODAL_APPLY_COVER_LETTER_AREA='[class*="magritte-modal___"] [data-qa="textarea-native-wrapper"]' # Textarea ввода сопроводительного письма
HH_MODAL_APPLY_SUBMIT_BUTTON='[class*="magritte-modal___"] [data-qa="vacancy-response-submit-popup"]' # Кнопка отправки заявки в попапе
# APPLY FORM
HH_APPLY_FORM='#RESPONSE_MODAL_FORM_ID' # Элемент формы отправки заявки
HH_RESUME_DROPDOWN_SELECTOR='#RESPONSE_MODAL_FORM_ID [data-qa="cell-text-content"]:not([data-qa="task-body"] *)' # Селектор резюме
HH_RESUME_DROPDOWN_LIST='[data-qa="magritte-select-option-list"]' # Список резюме
HH_RESUME_DROPDOWN_LIST_XS='[data-qa="magritte-select-option-list-on-xs"]' # Список резюме маленькний экран
HH_RESUME_DROPDOWN_ITEMS='[data-qa="magritte-select-option-list"] label[class*="magritte-cell"]' # Айтемы резюме
HH_RESUME_DROPDOWN_NAME='[data-qa="magritte-select-option-list"] label[class*="magritte-cell"] [data-qa="resume-title"] [data-qa="cell-text-content"]' # Названия резюме
HH_RESUME_DROPDOWN_NAME_XS='[data-qa="magritte-select-option-list-on-xs"] label[class*="magritte-cell"] [data-qa="resume-title"] [data-qa="cell-text-content"]' # Названия резюме маленькний экран
HH_APPLY_FORM_COVER_LETTER_TRIGGER='[data-qa="vacancy-response-letter-toggle"]' # Кнопка переключения режима отправки сопроводительного письма
HH_APPLY_FORM_SUBMIT_BUTTON='[data-qa="vacancy-response-submit-popup"]' # Кнопка отправки заявки
HH_APPLY_FORM_TEXTAREA='[data-qa="vacancy-response-popup-form-letter-input"]' # Текстовая область для ввода текста
HH_IS_ADDITIONAL_FORM='input[name="testRequired"]' # Дополнительная проверка (пока уходим на ручной заполнение полей, кроме сопроводительного)


# DATABASE
DATABASE_URL="file:./dev.db"       # Путь к SQLite БД

# LLM
LLM_PROVIDER="ollama"              # Провайдер LLM (ollama/openrouter/polza)
OLLAMA_MODEL="gemma4:12b"          # Модель Ollama

# TELEGRAM
TELEGRAM_WAIT_TIMEOUT_MS=3600000   # Таймаут ожидания ответа пользователя (60 мин)